<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>实验室报名</title>
    <!-- NUTUI样式 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.3.10/dist/nutui.min.css"
    />
    <!-- 引入vue -->
    <script src="../js/vue.js"></script>
    <!-- 引入axios -->
    <script src="../js/axios.min.js"></script>
    <!-- 引入NUTUI -->
    <script src="https://cdn.jsdelivr.net/npm/@nutui/nutui@2.3.10/dist/nutui.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <!-- Jquery -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="main">
      <div
        id="title"
        style="padding: 10px 20px; text-align: center; border-bottom: solid 1px black"
      >
        <h2>大数据实验室报名表</h2>
      </div>
      <div id="detail">
        <div id="left">
          <div>
            <label for="name">姓名：</label>
            <input type="text" id="name" v-model="name" placeholder="请输入姓名" /><br />
            <label for="gender">性别：</label>
            <label for="boy"
              ><input v-model="gender" id="boy" type="radio" name="gender" value="boy" />男</label
            >
            <label for="girl"
              ><input v-model="gender" id="girl" type="radio" name="gender" value="girl" />女</label
            >
          </div>

          <div style="display: flex; justify-content: space-around; padding-right: 10px">
            <label for="major">专业班级：</label>
            <select name="major" id="major" v-model="major" style="flex: 1">
              <option value="ruanjian">软件</option>
              <option value="jisuanji">计科</option>
              <option value="wangluo">网络</option>
              <option value="zhineng">智能</option>
              <option value="shumei">数媒</option>
            </select>
            <select name="major" id="major" v-model="classname" style="flex: 1">
              <option value="22.1">22.1</option>
              <option value="22.2">22.2</option>
              <option value="22.3">22.3</option>
              <option value="22.4">22.4</option>
            </select>
          </div>
          <div>
            自我评价：<input type="checkbox" id="niu" value="niu" />
            <label for="niu">社牛</label>
            <input
              v-model="hobby"
              type="checkbox"
              id="yourself"
              name="yourself"
              value="lovestudy"
            />
            <label for="yourself">爱学习</label>

            <input v-model="hobby" type="checkbox" id="jishu" value="jishu" />
            <label for="jishu">热爱技术</label>

            <input v-model="hobby" type="checkbox" id="study" value="study" />
            <label for="study">学习能力强</label>

            <input
              v-model="hobby"
              type="checkbox"
              id="chuangxin"
              name="yourself"
              value="chuangxin"
            />
            <label for="chuangxin">创新能力</label>
          </div>
        </div>
        <div id="profile">
          <div id="touxiang" style="text-align: center; width: 100%">
            <label for="image_uploads"
              ><img src="./img/add.png" id="picture" alt="" />（证件照）</label
            >
            <input
              style="display: none"
              type="file"
              id="image_uploads"
              name="image_uploads"
              accept=".jpg, .jpeg, .png"
              multiple
            />
          </div>
          <div class="preview"></div>
        </div>
      </div>
      <div id="center" style="padding: 0 5px">
        <label for="yourself" style="line-height: 30px">自我介绍：</label>
        <textarea
          v-model="myself"
          name=""
          id="self"
          cols="30"
          rows="10"
          placeholder="大胆的介绍一下自己吧！"
        ></textarea>
        <span id="words">还需输入{{text}}字</span>
      </div>
      <div id="footer" style="color: rgb(85, 85, 85); padding-left: 5px">
        注意事项：<br />
        <ol>
          <li>1. 以上表单内容必须由本人填写。</li>
          <li>2. 上传照片必须是本人照片，要求清晰得体。</li>
        </ol>
        <div id="time">提交日期：{{time}}</div>
        <div id="submit">
          <button @click="submit">提交</button>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: '#main',
        data: {
          name: '',
          gender: '',
          major: 'ruanjian',
          classname: '22.1',
          file: '',
          filename: '',
          time: '',
          hobby: [],
          myself: '',
        },
        mounted() {
          var date = new Date();
          this.time = date.toLocaleDateString();
          this.previewImg();
        },
        computed: {
          text() {
            return 30 - this.myself.length < 0 ? 0 : 30 - this.myself.length;
          },
        },
        methods: {
          async submit() {
            if (this.name.trim() == '') {
              return this.$toast.fail('姓名不能为空哦');
            }
            if (this.name.trim().length >= 15) {
              return this.$toast.fail('姓名不能超过15位');
            }
            if (this.gender.trim() == '') {
              return this.$toast.fail('性别不能为空哦');
            }
            if (this.myself.trim() == '') {
              return this.$toast.fail('个人简介不能为空哦');
            }
            if (this.myself.trim().length < 30) {
              return this.$toast.fail('个人简介最少30字哦！');
            }
            if (window.file == undefined) {
              return this.$toast.fail('是不是忘了上传照片啦！');
            }
            debugger;
            this.loading = this.$toast.loading('正在提交');
            debugger;
            let filename = await this.sendImg();
            console.log('@@@@' + filename);
            debugger;
            var parms = new URLSearchParams();
            parms.append('name', this.name);
            parms.append('gender', this.gender);
            parms.append('major', this.major);
            parms.append('classname', this.classname);
            parms.append('hobby', this.hobby);
            parms.append('myself', this.myself);
            parms.append('filename', filename);
            axios.post('http://127.0.0.1:3009/signup', parms).then(
              (res) => {
                console.log(res.data);
                this.loading.hide();
                this.$toast.success('提交成功啦！');
                setTimeout(() => {
                  window.location = './success.html';
                }, 400);
              },
              (error) => {
                console.log(error.message);
              }
            );
          },
          previewImg() {
            // return new Promise((reslove, reject) => {
            const imgFile = document.querySelector("input[type='file']");
            const preview = document.querySelector('.preview');
            imgFile.addEventListener('change', function () {
              if (this.files.length > 1) {
                return alert('只能上传一张图片！');
              }
              const image = document.createElement('img');
              const file = this.files[0];
              var reader = new FileReader();
              reader.readAsDataURL(file);
              reader.onload = function () {
                image.src = this.result;
                window.file = file;

                document.querySelector('#touxiang').style.display = 'none';
                preview.appendChild(image);
              };
            });
          },
          sendImg() {
            // const imgFile = document.querySelector("input[type='file']");
            // 2.1创建格式化数据，
            return new Promise((resolve, reject) => {
              debugger;
              if (window.file == undefined) {
                return false;
              }
              var fd = new FormData();
              // 2.2格式化数据并以键值对的形式存放到fd对象中
              fd.append('imageIcon', window.file);
              // 3.1创建XMLHttpRequest对象
              var xhr = new XMLHttpRequest();
              // 3.2使用open方法,设置请求
              xhr.open('POST', 'http://127.0.0.1:3009/addImg', true);
              // 3.3使用send方法发送数据
              xhr.send(fd);
              xhr.onreadystatechange = () => {
                console.log(xhr.responseText);
                let filename = JSON.parse(xhr.responseText).data.filename;
                debugger;
                resolve(filename);
                reject('出错了');
              };
            });
          },
        },
      });
    </script>
  </body>
</html>
