* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-image: url(img/back1.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  background-image: url(img/bak2.jpg);
  width: 90%;
  height: 90%;
  border: solid 1px black;
}
#main #detail {
  display: flex;
  border-bottom: solid 1px black;
  justify-content: space-between;
  width: 100%;
}
#main #detail #left {
  line-height: 30px;
  width: 70%;
  padding: 0 5px;
}
#main #detail #left input[type='text'] {
  width: 75%;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid black;
}
#main #detail #profile {
  width: 30%;
  border-left: solid black 1px;
  position: relative;
}
#main #detail #profile img {
  width: 100%;
  height: 100%;
}
#main #detail #profile img[id='picture'] {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#main #detail #profile .preview {
  height: 100%;
}
#main #center {
  height: 100%;
  height: 50%;
  position: relative;
}
#main #center textarea {
  width: 100%;
  height: 92%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 17px;
}
#main #center #words {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: gray;
  font-size: 0.8rem;
}
#main #footer {
  height: 21%;
  position: relative;
}
#main #footer #time {
  position: absolute;
  bottom: 60px;
  right: 10px;
}
#main #footer #submit {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#main #footer #submit button {
  width: 100px;
  height: 40px;
  background-color: #b3d8ff;
  border-radius: 10px;
  border: none;
}
