header {
  height: 60px;
}
header img {
  height: 40px;
  text-align: left;
  display: inline-block;
  width: 40px;
  position: absolute;
  left: 0.5208rem;
  top: 10px;
}
header h2 {
  height: 60px;
  height: 80%;
}
main {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  font-size: 1.3021rem;
}
main #user {
  width: 80%;
  height: 200px;
  margin: 0 auto;
}
main #user label {
  height: 30%;
}
main #user label input {
  width: 70%;
  height: 15%;
  border: none;
  border-bottom: solid 1px gray;
  background-color: #F9F7F0;
}
main #user label input:focus {
  transition: all 0.5s;
  box-shadow: 0 0 10px black;
  border: solid 1px gray;
  outline: none;
}
main #user textarea {
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
main #user textarea:focus {
  transition: all 0.5s;
  box-shadow: 0 0 10px black;
  border: solid 1px gray;
  outline: none;
}
main #submit {
  width: 100px;
  height: 40px;
  margin: 0 auto;
}
main #submit button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #246ba5;
  color: white;
  border: 0;
}
